<div class="container">
    <fieldset>
      <legend> Sign Up Form</legend>
      <form [formGroup]="signupForm">
        <div class="form-group" (ngSubmit)="submitForm()">
          <label for="fName">First Name</label>
          <input type="text" class="form-control" id="fName" formControlName="fName">
        </div>
        <div class="form-group">
          <label for="lName">Last Name</label>
          <input type="text" class="form-control" id="lName" formControlName="lName">
        </div>
        <div class="form-group">
          <label for="mName">Middle Name</label>
          <input type="text" class="form-control" id="mName" formControlName="mName">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="hasNoMiddleName" formControlName="hasNoMiddleName">
          <label class="form-check-label" for="hasNoMiddleName">I don't have a middle name</label>
        </div>

        <div formArrayName="favoriteProducts" class="mb-3">
            <h3>Favorite Products</h3> <button type="button" (click)="addProduct()" class="btn btn-secondary">Add Product</button>
            <div *ngFor="let product of favoriteProducts.controls; let i=index" class="mt-2">
              <label>
                Product:
                <input type="text" [formControlName]="i">
              </label>
            </div>
        </div>

        <div formGroupName="passwordGroup">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword"  formControlName="confirmPassword">
            </div> 
            <span class="text-danger" *ngIf="signupForm.get('passwordGroup')?.errors?.['mismatch']"> ** Passwords do not match!</span>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>

        <button type="button" class="btn btn-secondary" (click)="setValue()">Set Value</button>
        <button type="button" class="btn btn-secondary" (click)="patchValue()">Patch Value</button>
      </form>
    </fieldset>
   
    <div>
        <div>{{signupForm.value | json}}</div>
        <div> Dirty: {{signupForm.dirty}}</div>
        <div> Touched: {{signupForm.touched}}</div>
        <div> Pristine: {{signupForm.pristine}}</div>
        <div> Valid: {{signupForm.valid}}</div>
        <div> Invalid: {{signupForm.invalid}}</div>
        <div> First Name Touched: {{signupForm.get('fName')?.touched}}</div>
        <div> First Name Dirty: {{signupForm.get('fName')?.dirty}}</div>
        <div> First Name Valid: {{signupForm.get('fName')?.valid}}</div>
        <div> Middle Name Valid: {{signupForm.get('mName')?.valid}}</div>
      </div>
  </div>